<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
<h5 style="text-align:center">Artist Name: <b>{{artist_info.first_name}}</b> {{artist_info.last_name}}</h5>
<h5 style="text-align:center"><i>{{artist_info.instrument}}</i></h5>
<h5 style="text-align:center">Artist Rating: {{artist_rating.num_stars__avg}}</h5>
<a href="{% url 'first_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-danger bnt-sm">Edit</a>

<h5><u>List of Albums:</u></h5>
<table class="table table-bordered">
  <tr>
    <th>Album Name</th>
    <th>Release Date</th>
    <th>Rating</th>
  </tr>
  {% for album in album_list %}
  <tr>
    <td><a href="{% url 'first_app:edit_album' album_id=album.id  %}">{{album.name}}</a></td>
    <td>{{album.release_date|date:"M d, Y"}}</td>
    <td>{{album.num_stars}}</td>
  </tr>

  {% endfor %}
</table>
<a href="{% url 'first_app:delete_artist' artist_id=artist_info.id %}" onclick="return confirm('Delete this Musician ?')" class="btn btn-danger btn-sm">Delete </a>

{% endblock %}
